// =====================================================================================================================
.header {
  width: 100%;
  padding: 10px 0;
  background-color: $blackColor;

  &.sticky {
    // ..стили для липкого хедера
  }

  // .header__container
  &__container {
    height: rem($headerHeight);
    display: flex;
    align-items: center;
    justify-content: center;

    .header__menu {
      align-items: center;
      text-transform: uppercase;
        .menu__list {
          margin-left: 32px;
          align-items: center;
          margin-right: 32px;

          li {
            margin-right: 16px;
            
            &:last-child {
              margin-right: 0;
            }
          }
        }

        .menu__social {
          align-items: center;

          li {
            margin-right: 16px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
    }
  }
}
