// =====================================================================================================================
.header {
  width: 100%;
  background-color: $grayColor;

  &.sticky {
    // ..стили для липкого хедера
  }

  // .header__container
  &__container {
    height: rem($headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__menu {
      align-items: center;
        .menu__list {
          align-items: center;
          margin-right: 24px;

          li {
            margin-right: 16px;

            a {
              display: inline-block;
              position: relative;

              &:after {
                content: "";
                display: block;
                position: absolute;
                width: 0;
                bottom: 0;
                height: 2px;
                margin: -5px 0;
                left: 0;
                background-color: white;
                transition: all 0.3s ease-in 0s;
              }

              &:hover:after {
                width: 100%;
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .menu__social {
          align-items: center;

          li {
            margin-right: 16px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
    }
  }
}
