// =====================================================================================================================
.header {
  width: 100%;
  background-color: rgb(36, 36, 36);

  &.sticky {
    // ..стили для липкого хедера
  }

  // .header__container
  &__container {
    height: rem($headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__menu {
      align-items: center;
        .menu__list {
          align-items: center;
          margin-right: 24px;

          li {
            margin-right: 16px;

            a {
              color: $whiteColor;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .menu__social {
          align-items: center;

          li {
            margin-right: 16px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
    }
  }
}
