.menu__item {
    font-family: $fontFamily;
    font-weight: 400;
    line-height: 120%;
}

.link {
    display: inline-block;
    position: relative;
    font-family: $fontFamily;
    line-height: 120%;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        bottom: 0;
        height: 2px;
        margin: -5px 0;
        left: 0;
        background-color: $whiteColor;
        transition: all 0.3s ease-in 0s;
    }

    &:hover:after {
        width: 100%;
    }
}



.icon {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }
}

// align
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

//margins

//bot
.margin-16-bot {
    margin-bottom: 16px;
}

.margin-24-bot {
    margin-bottom: 24px;
}

.margin-32-bot {
    margin-bottom: 32px;
}

//top
.margin-16-top {
    margin-top: 16px;
}

.margin-24-top {
    margin-top: 24px;
}

//right
.margin-16-right {
    margin-right: 16px;
}

.margin-24-right {
    margin-right: 24px;
}

.margin-28-right {
    margin-right: 28px;
}

.margin-32-right {
    margin-right: 32px;
}

//fonts
.text {
    font-family: $fontFamily;
    line-height: 120%;
}

.text-orange {
    color: $orangeColor;
}

.normal {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 800;
}

